

<ion-content padding class="background-image" [fullscreen]="true">


  <app-login-register-container>
    <div class="form-container" #body>
      <div class="inputBox">
        <input [(ngModel)]="identifiant" class="text-input form-child" required="required" type="text" />
        <span>Identifiant</span>
      </div>
      <br />
      <div class="inputBox">
        <input [(ngModel)]="password" class="text-input form-child" type="password" required="required"/>
        <span>Mot de passe</span>
      </div>
      <br />
      <button (click)="onNavigateRegister()" class="link annulMargin">S'INSCRIRE</button>
      <br />
      <p *ngIf="errorMessage != null" style="color: red !important;">{{errorMessage}}</p>
      <br />
    </div>
    <div class="center">
      <a (click)="onTryLogin()" style="--clr2:#FB00FF" >
        <span>SE CONNECTER</span>
        <i></i>
      </a>
    </div>
  </app-login-register-container>
  <app-tabs></app-tabs>
</ion-content>
