<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-image" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connexion</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-login-register-container>
    <div class="form-container" #body>
      <input [(ngModel)]="identifiant" class="text-input form-child" placeholder="Identifiant" />
      <br />
      <input [(ngModel)]="password" class="text-input form-child" type="password" placeholder="Mot de passe" />
      <br />
      <button class="link">S'INSCRIRE</button>
      <br />
      <p *ngIf="errorMessage != null" style="color: red !important;">{{errorMessage}}</p>
      <br />
      <button (click)="onTryLogin()" class="form-child">SE CONNECTER</button>
    </div>
  </app-login-register-container>
</ion-content>