@font-face {
  font-family: "Pacifico";
  src: url("/assets/font-families/Pacifico-Regular.ttf");
}

#container {
  text-align: center;
  vertical-align: center;
  left: 0;
  right: 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

img {
  margin-top: 50px;
  ;
}

h1 {
  font-family: "Pacifico";
  font-size: 70px;
  color: white !important;
}

@keyframes lumiere {
  0% {
    text-shadow:
      0 0 7px #224957,
      0 0 10px #224957,
      0 0 42px rgb(17, 214, 11),
      0 0 73px rgb(17, 214, 11),
      0 0 100px rgb(17, 214, 11);
  }

  50% {
    text-shadow:
      0 0 7px #224957,
      0 0 10px #224957,
      0 0 32px rgb(17, 214, 11),
      0 0 83px rgb(17, 214, 11),
      0 0 120px rgb(17, 214, 11);
  }
}