.form-container>.form-child {
    margin-top: 1.5rem;
    display: inline-block;
    width: 300px;
}

.form-container {
    text-align: center;
    vertical-align: center;
    margin-top: 80px;
}

.checkbox {
    margin-right: .4rem;
}

.checkbox-container {
    width: 25%;
    text-align: left;
}