

<ion-content padding class="background-image" [fullscreen]="true">


  <app-login-register-container>
    <div class="form-container" #body>
      <div class="inputBox">
        <input (change)="email=$event.target.value" [value]="email" class="text-input form-child"  required="required" type="email"/>
        <span>Email</span>
      </div>
      <br />
      <div class="inputBox">
        <input (change)="firstName=$event.target.value" [value]="firstName" class="text-input form-child"  required="required" type="text"/>
        <span>Prénom</span>
      </div>
      <br />
      <div class="inputBox">
        <input (change)="lastName=$event.target.value" [value]="lastName" class="text-input form-child"  required="required" type="text"/>
        <span>Nom</span>
      </div>
      <br />
      <div class="inputBox">
        <input (change)="nickName=$event.target.value" [value]="nickName" class="text-input form-child"  required="required" type="text"/>
        <span>Pseudo</span>
      </div>
      <br />
      <div class="inputBox">
        <input (change)="password=$event.target.value" [value]="password" class="text-input form-child" type="password"  required="required"/>
        <span>Mot de passe</span>
      </div>
      <br />
      <div class="inputBox">
        <input (change)="passwordConfirmation=$event.target.value" [value]="passwordConfirmation"
        class="text-input form-child" type="password"  required="required"/>
        <span>Confirmer le mot de passe</span>
      </div>
      <p *ngIf="errorMessage != null" style="color: red !important;">{{errorMessage}}</p>
      <br />
    </div>
    <a (click)="onSubmit()" style="--clr2:#FB00FF" >
      <span>S'INSCRIRE</span>
      <i></i>
    </a>
  </app-login-register-container>
</ion-content>

