<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="connection">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inscription">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Inscription</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exemple-post">
      <ion-icon name="square"></ion-icon>
      <ion-label>Exemple Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="post-deplie">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Post deplie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edition-profile">
      <ion-icon name="square"></ion-icon>
      <ion-label>Edition profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>