<!-- <!DOCTYPE html>
<html>
  <head>
    <title>NAVBAR</title>
    <link rel="stylesheet" href="tabs.page.scss" type="text/css">
  </head> -->
  <ion-content>
<ion-tabs >
  <ion-tab-bar slot="bottom" class = "dimension">

  <div class="naviguation">
    <ul>
      <li [ngClass]="isActiveAcceuil ? 'list active' : 'list'">
        <a (click)="navigateToAcceuil()">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
          <span class="text">Home</span>
        </a>
      </li>
      <li [ngClass]="isActiveInscription ? 'list active' : 'list'">
        <a (click)="navigateToInscription()">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
          <span class="text">Inscription</span>
        </a>
      </li>
      <li [ngClass]="isActivePost ? 'list active' : 'list'">
        <a (click)="navigateToPost()">
        <span class="icon">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </span>
          <span class="text">Posts</span>
        </a>
      </li>
      <li [ngClass]="isActiveSetting ? 'list active' : 'list'">
        <a (click)="navigateToSetting()">
        <span class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </span>
          <span class="text">Profil</span>
        </a>
      </li>
      <div class="indicator">
      </div>
    </ul>
  </div>
</ion-tab-bar>

</ion-tabs>
</ion-content>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- </html> -->
