<div class="text-center" style="width: 100%; text-align: center">
  <mat-card class="mat-elevation-z0 card neonPost" style=" margin: 0.5%; width: 60%;"
    [ngClass]="'!isUnderPost : comment-not-linked'">
    <mat-card-header>
      <div *ngIf="userImageUrl != null" mat-card-avatar [ngStyle]="{'background-image': 'url(' + userImageUrl + ')'}"
        class="profile-picture blueMotionImage"></div>
      <div *ngIf="userImageUrl == null" mat-card-avatar
        [ngStyle]="{'background-image': 'url(../../../assets/images/utilisateur.png)'}"
        class="profile-picture blueMotionImage">
      </div>
      <mat-card-title class="textNeon">{{userNickName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p>
        {{textToDisplay}}
      </p>
    </mat-card-content>
  </mat-card>
</div>