<ion-content [scrollEvents]="true" (ionScroll)="scrolling($event)" [fullscreen]=" true">

  <mat-card class="mat-elevation-z8 card neonPost">
    <div class="center">
    <mat-card-content>
      <br/><br/>
      <a (click)="onOpenCamera()" style="--clr2:#FB00FF" >
        <span>Prendre une photo</span>
        <i></i>
      </a>
      <br/><br/><br/>
      <img [hidden]="urlImage == undefined" [src]="urlImage" alt="" class="imageDesign"/>
      <br/><br/>
      <div class="inputBox">
        <textarea (change)="text=$event.target.value" [value]="text" required="required"></textarea>
        <span>Votre texte</span>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <br/><br/><br/>
      <a (click)="onPostSent()" style="--clr2:#00ff00" >
        <span>Envoyer</span>
        <i></i>
      </a>
      <br/><br/><br/>
    </mat-card-actions>
  </div>
  </mat-card>
  <div *ngFor=" let el of posts">
    <app-post [currentPost]="el"></app-post>
  </div>

</ion-content>
