ion-content {
    --background: no-repeat center center url("/assets/images/bg.jpg");
}



.position{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.positionElement{
    display: block;
    justify-content: center;
    align-items: center;
}

mat-card{
    justify-content: center;
    align-items: center;
}

.monPadding{
    margin-bottom: 2%;
}

.form-container{
  display: block;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center !important;
  justify-content: center !important;
}


