.profile-picture {
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
}

.comment-not-linked {
    max-width: 800px;
    display: inline-block;
    text-align: left;
    margin-top: 4px;
}


.neonPost {
    border-color: #47c7f9;
    border-width: 50%;
    box-shadow: 0px 0px 10px 5px #47c7f9;
}

.monMargin{
    margin: 0.7%;
}
