<div class="text-center" style="width: 100%; text-align: center">
  <mat-card class="mat-elevation-z0 card neonPost monMargin" [ngClass]="'!isUnderPost : comment-not-linked'">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + userImageUrl + ')'}"
        class="profile-picture blueMotionImage"></div>
      <mat-card-title class="textNeon">{{userNickName}}</mat-card-title>
      <mat-card-subtitle style="float: left;" class="textNeon">{{publicationDate.toLocaleString()}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{text}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
