<div class="text-center" style="width: 100%; text-align: center">
  <mat-card class="mat-elevation-z0 card neonPost monMargin" [ngClass]="'!isUnderPost : comment-not-linked'">
    <mat-card-header>
      <div mat-card-avatar class="profile-picture blueMotionImage"></div>
      <mat-card-title class="textNeon">Pseudo</mat-card-title>
      <mat-card-subtitle style="float: left;" class="textNeon">10/12/2021</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ca s'est passé prêt de chez vous ! Regardez moi cette magnifique voiture. A première vue on ne semble pas
        disserner son modèle exact, mais un oeil aiguisé se rendra compte qu'il s'agit d'une superbe Audi S3 ;)
      </p>
    </mat-card-content>
  </mat-card>
</div>